body{
    background-color: whitesmoke;
}

#viewItemSection{
   align-items: center;
 background-color: #e0d4c2;
   border-radius: 12px;
   border: 2px solid black;
   box-shadow: 2px 2px 12px black;
   display: flex;
   flex-direction: column;
   float: right;
   font-family: 'Lato', sans-serif;
   font-size: 1.2rem;
   left: 40%;
   margin: 30px;
   padding: 20px;
   position: absolute;
   top: 23%;
   width: 30%;
}

#vPPhoto{
position: absolute;
left: 20%;
top: 30%;
border-bottom: 2px solid rgb(144, 105, 8);
box-shadow: 2px 2px 12px black;
border-radius: 9px;
background-color: #E0C9A6;
padding: 6px;
background-image: url(https://image.slidesdocs.com/responsive-images/docs/paper-with-a-vintage-kraft-texture-and-golden-border-pattern-page-border-background-word-template_25b1033c94__1131_1600.jpg);
background-position: center;
}

#viewProductPage{
    display: flex;
    justify-content: space-between;
    margin: 22px;
}
.viewProductLine{
    padding: 12px;
    margin: 3px;
}

#addPadding {
  margin: 5px 20px;
  padding: 5px 10px;
}

